@import "../common/_scss/common";

body {
  margin: unset;
  padding: unset;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: $font-family-main;

  header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #f36311;
    margin: auto;
    max-width: 1200px;
    .brand-logo {
      flex: 1;
      width: 100px;
      height: 50px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .brand-title {
      padding: 0px 10px;
    }
    .navbar-list {
      flex: 10;
      display: flex;
      list-style-type: none;
      justify-content: end;
      li {
        text-decoration: none;
        margin: 0px 20px;
      }
    }
  }
  .rc-container {
    width: 1200px;
    display: flex;
    margin: auto;
    justify-content: flex-start;
    flex-wrap: wrap;
    // column-gap: ;
    .rc {
      &-card {
        width: calc(25% - 40px);
        margin: 20px;
        div {
          display: flex;
          justify-content: space-evenly;
          @extend .std-description;
          align-items: center;
          margin-bottom: 20px;
          span {
            &.skeleton-text{
              width: 25%;
              height: 14px;
            }
          }
          &.rc-quick-view {
            display: block;
            text-align: center;
            font-size: $fs-16;
            font-weight: $fw-600;
            margin-bottom: unset;
            padding: 15px;
            padding-bottom: unset;
            border-top: 1px solid rgba($color: #969292, $alpha: 1);
            visibility: hidden;
            &.skeleton{
              visibility: visible !important;
            }
            span {
              color: rgba($color: #349be4, $alpha: 1);
              &.skeleton-text{
                width: 40%;
                height: 24px;
              }
            }

          }
        }
        &:hover {
          margin: unset;
          padding: 20px;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
          .rc-quick-view {
            visibility: visible;
            span {
              &:hover {
                color: #969292;
                cursor: pointer;
              }
            }
          }
        }
      }
      &-img-container {
        width: 100%;
        height: 160px;
      }
      &-img {
        width: 100%;
        height: 100%;
      }
      &-name {
        @extend .std-title-minor;

        &.skeleton-text{
          width: 100%;
          height: 24px
        }
      }
      &-category {
        @extend .std-description;
        margin-bottom: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &.skeleton-text{
          width: 100%;
          height: 18px;
        }
      }

    }
  }


  .searchbox-container{

  }
  .search-container {
    width: 490px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding: 20px 0px;
  }

  input#search-bar {
    margin: 0 auto;
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #d0cfce;
    outline: none;
    &:focus {
      border: 1px solid #008abf;
      transition: 0.35s ease;
      color: #008abf;
      &::-webkit-input-placeholder {
        transition: opacity 0.45s ease;
        opacity: 0;
      }
      &::-moz-placeholder {
        transition: opacity 0.45s ease;
        opacity: 0;
      }
      &:-ms-placeholder {
        transition: opacity 0.45s ease;
        opacity: 0;
      }
    }
  }

  .search-icon {
    position: relative;
    float: right;
    width: 50px;
    height: 50px;
    // top: -62px;
    // right: -45px;
  }
}

.skeleton{
  opacity: 0.7;
  animation: skeleton-loading 1s linear infinite alternate;
}
@keyframes skeleton-loading {
  0%{
    background-color: hsl(200 20% 70%);
  }
  100%{
    background-color: hsl(200 20% 95%);
  }
}
.skeleton-text{
  width: 100%;
}
