@import "./_variables.scss";

.std-title-major {
  // font-size: 1.5em;
}
.std-title-minor {
  font-size: $fs-16;
  font-weight: $fw-600;
  margin: 5px 0px;
}

.std-description {
  font-size: $fs-12;
  font-weight: $fw-300;
  margin: 5px 0px;
}
